<div class="formacoes" style="padding-right: 0% !important;">
  <div style="padding-bottom: 120px; padding-right: 0% !important;">
    <div class="formation-row" style="align-items: center;">

      <ngx-slick-carousel style="margin: 0; padding: 0% !important; margin-top: 20px;" class="container" #slickModal="slick-carousel" [config]="slideConfig">

        <div ngxSlickItem *ngFor="let card of cards" class="slide " style="margin-left: 70px !important;">
          <div style="background-color: #606060; height: 521px; width: 290px; " class="card card-height">
            <img [src]="card.img" class="card-img-top" [alt]="card.alt" style="height: 360px !important;">
            <div class="card-body d-flex flex-column" style="height: 300px;">
              <h5 class="card-title title-white-cards" style="white-space: pre-wrap;font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 28px;
              justify-content: center;
              text-align: center; color: white !important;">{{card.title}}</h5>
              <div style="text-align: center;">
                <h5
              class="card-title title-white-cards style-title-card" style="color: white; font-size: 18px !important;"
            >
              {{ card.description }}
            </h5>
            <h5
            class="card-title title-white-cards style-title-card" style="color: white; font-size: 18px !important;"
          >
            {{ card.value }}
          </h5>
              </div>
              <div class="mt-auto">
                <h6 _ngcontent-hst-c18="" class="h6-box" style="color: #0789E5; font-size: 16px !important; margin-top: -25px !important;">
                  {{card.sub}}
                </h6>
                <a name="btnsaiba" style="margin-top: auto; font-weight: 500;
                font-size: 20px;
                line-height: 28px;" _ngcontent-fts-c20="" href="estoque/{{card.link}}"
                  class="align-self-end btn btn-nrs btn-carousel color-button">Saiba
                  mais</a>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>

      <div style="justify-content: center; text-align: center; padding-top: 20px;">
        <a _ngcontent-ehq-c19="" style="width: 50%;
  color: white;
  font-size: 20px !important;
  font-weight: 500;" class="btn btn-blue btn-sm btn-carousel  btn-ver-todas" href="estoque">Ver estoque</a>
      </div>
  </div>
</div>
